//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
  padding: 8px 15px;
  padding: toRem(8px) toRem(15px);
  margin: 0 0 $baseLineHeight;
  margin: 0 0 toRem($baseLineHeight);
  list-style: none;
  background-color: #f5f5f5;
  @include border-radius($baseBorderRadius);
  @include border-radius(toRem($baseBorderRadius));
  li {
    display: inline-block;
    @include ie7-inline-block();
    text-shadow: 0 1px 0 $white;
    text-shadow: 0 toRem(1px) 0 $white;
  }
  .divider {
    padding: 0 5px;
    padding: 0 toRem(5px);
    color: #ccc;
  }
  .active {
    color: $grayLight;
  }
}
